<html>
  <head>
    <title>Google recapcha demo - Codeforgeek</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </head>
  <body>
    <h1>Google reCAPTHA Demo</h1>
    <form id="comment_form" action="register-with-recaptcha" method="post">
       <input name="email" placeholder="Useremail address" size="50"/>
       <br/><br/>
       <input name="password" placeholder="User password" size="50"/>
       <br/><br/>
       <input name="ip-address" placeholder="User IP (optional)" size="30"/>
       <br/><br/>
       
       <input type="submit" name="submit" value="Post comment"/><br/><br/>
      <div class="g-recaptcha" data-sitekey="6LeUDUQUAAAAANXayqhF5sKApb31_AohSzrQlIE-"></div>
    </form>
  </body>
</html>